body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:74px;
  top:36px;
  width:659px;
  height:56px;
  font-size:48px;
  color:#FFFFFF;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:56px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:72px;
  top:5570px;
  width:198px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:74px;
  top:126px;
  width:676px;
  height:28px;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:74px;
  top:200px;
  width:106px;
  height:28px;
  font-size:28px;
  color:#FFFFFF;
  line-height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:74px;
  top:249px;
  width:96px;
  height:28px;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:602px;
  top:249px;
  width:220px;
  height:28px;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:74px;
  top:1380px;
  width:448px;
  height:340px;
  opacity:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:340px;
}
#u12_img.mouseDown {
}
#u12.mouseDown {
  opacity:0.100000001490116;
}
#u13 {
  position:absolute;
  left:2px;
  top:162px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:74px;
  top:1170px;
  width:209px;
  height:28px;
  font-size:18px;
  color:#FFFFFF;
  line-height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:74px;
  top:290px;
  width:448px;
  height:789px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:789px;
}
#u17 {
  position:absolute;
  left:2px;
  top:386px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:602px;
  top:290px;
  width:448px;
  height:789px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:789px;
}
#u19 {
  position:absolute;
  left:2px;
  top:386px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:602px;
  top:514px;
  width:448px;
  height:336px;
  opacity:0.100000001490116;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:336px;
}
#u21 {
  position:absolute;
  left:2px;
  top:160px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:74px;
  top:1208px;
  width:448px;
  height:789px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:789px;
}
#u23 {
  position:absolute;
  left:2px;
  top:386px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:74px;
  top:1384px;
  width:448px;
  height:336px;
  opacity:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:336px;
}
#u24_img.mouseDown {
}
#u24.mouseDown {
  opacity:0.100000001490116;
}
#u25 {
  position:absolute;
  left:2px;
  top:160px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:74px;
  top:1720px;
  width:448px;
  height:227px;
  opacity:0;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:227px;
}
#u26_img.mouseDown {
}
#u26.mouseDown {
  opacity:0.100000001490116;
}
#u27 {
  position:absolute;
  left:2px;
  top:106px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
